button {
    width: 100%;
    background: linear-gradient(270deg, #7B91FF 0%, #95BEFF 100%);
}

.backgroud-pink {
    background: #D3A4F4;
    width: fit-content;
    position: absolute;
    right: 10px;
    bottom: -10px;
}

.time-2pm {
    bottom: unset !important;
}

.background-gray {
    background: #F1F1F1;
    bottom: unset;
}